:host {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 1fr;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  &.busy {
    cursor: wait;
  }

  main {
    display: grid;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    overflow: scroll;

    textarea {
      font-family: monospace;
    }
  }

  .toolbar {
    border-bottom: 1px solid var(--vscode-editorGroup-border);
  }

  .rotate90 {
    transform: rotate(90deg);
  }
}

:host ::ng-deep .selected {
  background-color: yellow;
}
